* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(199, 11, 49);
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.logo {
  margin-left: 50px;
  color: wheat;
  border: 3px solid wheat;
  padding: 3px;
  border-radius: 20px 3px 20px 3px;
}
.navList {
  list-style: none;
  display: flex;
  width: 50%;
  margin-right: 50px;
  justify-content: space-between;
}
.navList a {
  text-decoration: none;
  font-size: 18px;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}
.navList a:hover {
  color: black;
}
.menu div {
  background-color: wheat;
  height: 3px;
  width: 20px;
  margin: 5px;
}
.menu {
  margin-right: 50px;
  display: none;
}

/* css for the contact pag*/
.form {
  width: 45%;
  background-color: rgb(240, 228, 228);
}
.contact {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

.details {
  margin: 35px auto;
  width: 80%;
}

.first,
.second {
  width: 170px;
  height: 37px;
  margin-left: 30px;
}

/* mediaqueary for screen with width lower than 380px*/
@media only screen and (max-width: 380px) {
  .navList {
    width: 100%;
    height: 300px;
  }
}
