* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(199, 11, 49);
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.logo {
  margin-left: 50px;
  color: wheat;
  border: 3px solid wheat;
  padding: 3px;
  border-radius: 20px 3px 20px 3px;
}
.navList {
  list-style: none;
  display: flex;
  width: 50%;
  margin-right: 50px;
  justify-content: space-between;
}
.navList a {
  text-decoration: none;
  font-size: 18px;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
}
.navList a:hover {
  color: black;
}
.menu div {
  background-color: wheat;
  height: 3px;
  width: 20px;
  margin: 5px;
}
.menu {
  margin-right: 50px;
  display: none;
}

/* mediaqueary for screen with width lower than 600px*/
@media only screen and (max-width: 620px) {
  .navList {
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 50px;
    background-color: rgb(199, 11, 49);
    flex-direction: column;
    height: 400px;
    align-items: center;
    padding-bottom: 10px;
    display: none;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .logo {
    font-size: 12px;
    margin-left: 20px;
  }
  .navActive {
    display: flex;
  }
}

/* mediaqueary for screen with width lower than 380px*/
@media only screen and (max-width: 380px) {
  .navList {
    width: 100%;
    height: 300px;
  }
}
